* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns:4fr ;
    grid-template-rows: 4fr;
    grid-template-areas: 
    "header" 
    "nav"
    "main"
    "footer" ;
    background:rgb(255, 203, 194);
    font-size: 16px;
    padding: 1px;
    

}
header {
    display: grid;
    grid-template-columns:6fr 1fr ;
    grid-template-rows: 50px;
    font-family: 'Lora', serif;
    text-decoration: underline;
    text-align: left;   
    font-size: 150%;
    margin-bottom: 40px;
    
    height: 65px;
 }

.logoMokshauno{     
    position: fixed;
    height: 90px;
    width: 90px;
    top: 0%;
    right: 0%;
    border-style: solid;
    color: rgba(65, 12, 12, 0.151);
    padding: 1px;
    margin: 1px;
    transition: 5s;
}

.logoMokshauno:hover{
    transform: rotateY(180deg);
}

main{
    background-image:url(https://img.freepik.com/fotos-premium/vista-cerca-proceso-produccion-ceramica-rueda-alfareros-ninos-artesanias-arcilla-ninos_260418-720.jpg?w=740);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px;
}


p{
    background-color: rgba(255, 235, 235, 0.459);  
    display: flex;
    padding: 5px;
}
nav{
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    color:transparent;
    padding: 10px;
    background-image:url(../images/fondo-header.jpg);
    
}

.nav-index {
    background-color: rgb(250, 220, 237);
    background-image:url(https://img.freepik.com/fotos-premium/vista-cerca-proceso-produccion-ceramica-rueda-alfareros-ninos-artesanias-arcilla-ninos_260418-720.jpg?w=740);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    display: flex;
    flex-direction: column;
}

ul{
    display:flex;
    flex-direction: row;
    color:transparent;
    text-align: center ; 
}

.quiensoy-imagenes {
    display: flex; 
    flex-direction: row; 
    justify-content: space-around;
    margin: 10px;
}

.menupages{
    display:flex;
    flex-direction: row;
    color: rgb(0, 0, 0);
    font-size: 120%;
    align-items: center;
    margin: 2px;
    padding: 10px 20px 10px 20px;
    border: double 2px rgba(0, 0, 0, 0.829);
    background-color: rgb(252, 183, 183);   
}

.imagenes-inicio{
    width: 180px;   
    height:180px;
}

.menu-inicialtres{
    display:block;
    color: rgb(7, 7, 7);
    margin: 2px;
    border: double 2px rgba(0, 0, 0, 0.829);
    padding: 10px 20px 10px 20px;
    background-color: rgb(252, 183, 183);  
    overflow: hidden;
    font-size: 120%;
    text-align: center;
    
  }

footer {
    width: 100%;
    font-family: 'Lora', serif;
    font-size: 100%;
    text-align: center;
    align-items: center;
    position:relative;
    height: 100%;
    padding: 10px 1px 10px 1px;
    margin: 0px;
    background-image: linear-gradient(to top, rgb(54, 7, 0) , rgb(133, 105, 105))
}

.productos {
    padding: 10px;
    margin-left: 2px;
    height: 300px;
    width: 300px;
    justify-content:space-around;
    align-items: center;
    transition: 2s;
    
}

.productos:hover {
    transform: rotateY(180deg);
}

.article-productos{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 10px;
    padding-top:10px ;
    align-items: center;
    align-content: flex-start;
    flex-wrap: nowrap;

}

.menu-size{   
    display:flex;
    justify-content:space-around;
    color:transparent;
}

.imagenes-quiensoy {
    height: 240px;
    width: 280px;
}


h2{
    background-color: rgba(255, 235, 235, 0.459);  
    display: flex;
    padding: 5px;
    border-style: solid;
    border-color: rgba(156, 130, 130, 0.842);
    margin-bottom: 20px;
    background-image: linear-gradient(to right, rgb(255, 203, 194) , rgb(245, 236, 236))
}

.main-generales{
    background-color: rgb(250, 227, 236);
    background-image:none;
    display: flex;
}


h3{
    text-align: start;
    background-color: rgba(253, 231, 231, 0.877);
    padding: 7px;
    border-style: inset;
    border-color: brown;
}

.imagenes-fotografia {
    padding: 2px;
    height: 300px;
    width: 400px;
    align-items: center;
    text-align: center;
    transition: 3s;
    
}

.article-fotografia {
    padding: 13px;
    align-items: center;
    text-align: center;
}

.imagenes-fotografia:hover{
    transform: rotateY(180deg);
}

.parrafo-fotografia{
    display: block;
    text-align: center;

}

@media screen and (max-width:600px){

    body {
        background-image: url(https://img.freepik.com/fotos-premium/vista-cerca-proceso-produccion-ceramica-rueda-alfareros-ninos-artesanias-arcilla-ninos_260418-720.jpg?w=740);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        height: 100%;
        display: flex;
        flex-direction: column
    }
  
    .menu-size{   
        display:block; 
        padding: 5px 10px 5px 10px;
    }
    .title-productos{             
        display: grid;
        grid-template-columns:6fr 1fr ;
        grid-template-rows: 50px;
        font-family: 'Lora', serif;
        text-decoration: underline;
        text-align: left;   
        font-size: 200%;
        margin-bottom: 50px;
    }

    .quiensoy-imagenes {
        display: flex; 
        flex-direction: column; 
        justify-content: space-around;
        justify-self: center;
        align-items: center;
        justify-items: center;
    }

    h2{
        background-color: rgba(255, 235, 235, 0.459);  
        display: flex;
    }
    nav{
        display:flex;
        flex-direction: column;
        justify-content:space-between;
        color:transparent;
    }

    .menupages{
        align-items: center;
        justify-items: center;
        padding: 5px 10px 5px 10px; 
    }

    .logoMokshauno{     
        position: absolute;
        height: 60px;
        width: 60px;
    }

  

    header {
        font-size: 80%;
        margin-bottom: 40px;
     }

     .menu-inicialtres{
        display:block;
        font-size: 130%;
        text-align: center;
      }

      .article-productos{
        flex-direction: column;
        justify-self: center;
        align-items: center;
        justify-items: center;
        padding-bottom: 40px;
        padding-top:40px ;
    
    }


    .productos {
        width:80%;
        height: 80%;
        margin: 10px;
        justify-self: center;
    }

    ul{
        display:flex;
        flex-direction: column;
        color:transparent;
        text-align: center ; 
    }

    .menupages{
        display: block;
        flex-direction: row;
    }

    .imagenes-quiensoy {
        height: 160px;
        width: 190px;
    }
}

@media screen and (max-width:320px){

.menu-size{   
    display:block; 
    padding: 5px 10px 5px 10px;
}

h3{
    text-align: start;
    background-color: rgba(253, 231, 231, 0.877);
}
nav{
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    color:transparent;
}
.menupages{
    align-items: center;
    justify-items: center;
    padding: 5px 10px 5px 10px; 
}

.logoMokshauno{     
    position:relative;
    height: 60px;
    width: 60px;
    margin: 0px;
}
header {
    font-size: 80%;
    margin-bottom: 40px;
    }
.menu-inicialtres{
display:block;
font-size: 130%;
text-align: center;
}

.article-productos{
    flex-direction: column;
    justify-self: center;
    align-items: center;
    justify-items: center;
}


.productos {
    width:80%;
        height: 80%;
    margin: 10px;
    justify-self: center;
}

ul{
    display:flex;
    flex-direction: column;
    color:transparent;
    text-align: center ; 
}

.menupages{
    display: block;
    flex-direction: row;
}

}
